.isstime-logo-img {
    width: 250px;
    height: 72px;
}

.black-head-txt.stake-hd{
    margin-top: 20px;
    color: #414346;
    font-weight: 600;
    font-size: 22px;
}

.btn.btn-default.main-btn-blue.view:active{
    background-color: #f51f8a;
    cursor: pointer;
}



.right-eligible{
    margin-top:20px;
    display: flex;
    justify-content: flex-end;
}

.terms-box{
    display: flex;
    justify-content: left;
    margin-left: 10px;
}

.chck-box{
    margin-top: 5px;
    margin-right: 3px;
}