
.form-control{
    margin: auto;
    width: 310px;
    margin-top: 8px !important;
    margin-bottom: 10px !important;
}

.details{
    text-align: center;
    position: relative;
    width: 310px;
    margin: auto;
}

.pet-steps h2{
    margin-top: 10px;
}

.details Button{
    margin-top: 5px;
}

table td{
    text-align: center !important;
}