
.form-control{
    margin: auto;
    width: 310px;
    margin-top: 8px !important;
    margin-bottom: 10px !important;
}

.details{
    text-align: center;
    position: relative;
    width: 310px;
    margin: auto;
}

.assurance-steps h2{
    margin-top: 10px;
}

.details Button{
    margin-top: 5px;
}

table td{
    text-align: center !important;
}
.tsgap-fet p {
    min-height: 98px;
}

.background-tsgap {
    background: url(/images/bg-tsgap.jpg) !important;
    background-size: cover !importan
}
.page-header-tsgap {
background: url(/images/ban-tsgap.png) no-repeat center !important;
}
.tsgap-sip-bg p{
    color: #fff;
}
.tsgap-img {
    height: 214px;
    position: absolute;
    left: 15%;
}